[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
aniso8601 = "==5.1.0"
relativetimebuilder = "<2.0.0"
numpy = "*"
pandas = "*"
gunicorn = "*"
waitress = "*"
scikit-learn = "*"

[dev-packages]
relativetimebuilder = "<2.0.0"

[requires]
python_version = "3.8"
